* {
  margin: 0;
}

main {
  height: 100vh;
  // height: 600px;
  background-color: #ddd;
  // display: flex;
  // gap: 2px;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-direction: row;
  display: grid;
  // gap: 3px;
  row-gap: 20px;
  column-gap: 2px;
  // grid-row: 10px ;
  // grid-column: 20px;
  // grid-auto-flow: column;
//   grid-template-columns: ;
//   grid-template-rows: ;
// 'fr' for fraction or free space
// grid-template-columns: 100px 400px 200px;
// grid-template-columns: 1fr 1fr 1fr;
// grid-template-columns: 0.5fr 2.5fr 4fr;
// grid-template-columns: 1fr 20px 50%;
// grid-template-columns: 200px 1fr 50px;
grid-template-columns: repeat(3, 200px);
// grid-template-rows: 100px 100px 100px;
grid-template-rows: 1fr 100px 200px;
}

div {
  background-color: rgb(176, 139, 7);
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}